body {
  height: 100%;
  width: 100%;
  font-family: Catamaran, serif;
  margin: 0;
}
a:-webkit-any-link {
    color: none;
    text-decoration: none;
    cursor: auto;
    height: 100%;
    width: auto;
    padding-top: 8px;
}
.headText {
  margin-top: 80px;
}
.projectCards {
  margin-top: 10%;
}
.projectImg {
  width: 80%;
  height: auto;
  cursor: grab !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.projectImg:hover{
  width: 85%;
  height: auto;
  transition: .3s 0s ease-in-out, .3s 0s ease-in-out;
  cursor: grab !important;
}
.center {
  text-align: center;
}
.red {
  color: red;
  font-weight: bold;
}
.borderSpacing {
  margin-bottom: 20px;
}

@media only screen and (max-width: 769px){
  .headText {
    margin-top: 2%;
  }
  .textProjects {
    font-size: 3em;
  }
}
