html {
  height: 100%;
  width: 100%;
  font-family: Catamaran, serif;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('motherboard.jpg');
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: 0 !important;
  border-color: rgba(0, 0, 0, 0) !important;
}
.container {
  width: 100% !important;
}
div.navbar-collapse.collapse{
  width: 90% !important;
  margin-right: 10px !important;
  float: right !important;
  padding-top: 20px;
}
.navbar-nav>li>a {
color: white !important;
font-family: Catamaran, serif !important;
font-size: 16px !important;
letter-spacing: 1.5px;
text-transform: uppercase;
margin-right: 30px;
}
.fa-github :hover,
.fa-github span,
.fa-github span:before {
  background: #4078c0;
}
.fa-google-plus :hover,
.fa-google-plus span,
.fa-google-plus span:before {
  background: #e64522;
}
.fa-linkedin :hover,
.fa-linkedin span,
.fa-linkedin span:before {
  background: #0094BC;
}
.logoContainer {
  height: 10%;
  width: 10%;
  z-index: 40;
}
.logo {
  height: 5%;
  width: auto;
}
.containerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  flex-direction: column;
  color: white;
}
.backDrop {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  /*height: 120% !important;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 2% 0% 2%;
}
.name {
  margin-bottom: 5% !important;
  font-size: 4em !important;
  font-family: Catamaran, serif;
}
.info {
  font-family: Catamaran, serif;
  font-size: 1.5em !important;
  margin-bottom: 5% !important;
  padding-bottom: 0;
}
.downloadButtonContainer{
display: flex;
justify-content: center;
}
.downloadButton {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: white 2px solid;
  padding: 1em 1.75em;
  list-style: none;
  letter-spacing: 2px;
  text-decoration: none;
}
.downloadButton:hover {
  color: black;
  background-color: white;
  border: white 2px solid;
  text-decoration: none !important;
  transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
/*=================SIDEBAR=====================*/
.navbar, .navbar-default{
  margin-bottom: 0 !important;
}
#social-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#social-sidebar {
  right: 0;
  margin-top: -75px;
  position: fixed;
  top: 50%;
}
#social-sidebar li:first-child a {
  border-radius: 5px 0 0 0;
}
#social-sidebar li:last-child a {
  border-radius: 0 0 0 5px;
}
#social-sidebar a {
  background: rgb(76,141,211);
  color: #fff;
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  position: relative;
  text-align: center;
  width: 50px;
  text-decoration: none;
}
#social-sidebar a:hover span {
  right: 130%;
  opacity: 1;
}
#social-sidebar a span {
  border-radius: 3px;
  line-height: 24px;
  right: -100%;
  margin-top: -16px;
  filter: alpha(opacity=0);
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  -webkit-transition: opacity .3s, left .4s;
  -moz-transition: opacity .3s, left .4s;
  -ms-transition: opacity .3s, left .4s;
  -o-transition: opacity .3s, left .4s;
  transition: opacity .3s, left .4s;
  top: 50%;
  white-space: nowrap;
  z-index: -1;
}
#social-sidebar a span:before {
  content: "";
  display: block;
  height: 8px;
  right: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  z-index: -2;
}
/*=================END OF SIDEBAR=====================*/

.container {
  display: flex !important;
  justify-content: space-around !important;
}
.logo {
  height: 85px;
  width: auto;
  padding-top: 10px;
}

@media only screen and (max-width: 769px){
  .container {
    width: 100% !important;
    display: block !important;
  }
  .logo {
    height: 50px;
    width: auto;
    padding-top: 5px;
  }
  .containerInfo {
    margin-top: 50px;
  }
  .name {
    text-align: center;
    font-size: 3em !important;
    margin-bottom: 20px;
  }
  .downloadButtonContainer{
    margin: 50px !important;
  }
  .downloadButton {
    font-size: .75em !important;
  }
  .nav>li>a {
    padding-left: 65% !important;
    transition: .1s 0s ease-in-out, .1s 0s ease-in-out;
    margin-right: 0px;
    font-family: Catamaran, serif !important;
    font-size: 14px !important;
    letter-spacing: .2px;
    text-transform: uppercase;
  }
  div.navbar-collapse.collapse.in{
    margin-right: 0px !important;
    padding-top: 0px !important;
    border: white;

  }
}
