body {
    height: 100%;
    background:black;
}
header {
  margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#brand {
    max-height: 100px;
}
#map {
    height: 90vh;
    width: 115vh;
    margin-left: 3em;
    margin-top: 5em;
}
.center {
    display: flex;
    justify-content: center;
}
.controls {
    background: rgba(14, 14, 14, .5);
    height: 95vh;
    max-width: 287px;
    display: flex;
    flex-direction: column;
    align-content: center;
		margin-top: 4em;
    margin-left: 2em;
    align-items: center;
    align-content: center;

}
.padBot {
  margin-bottom: 3em;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#visual {
    display: flex;
    justify-content: center;
		margin-bottom: 5%;
}
#status {
    color: white;
		text-align: center;
}
#control {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dice img {
    border: 2px;
    padding: 10px;
    height: 90px;
    width: 90px;
    max-height: 100%;
    max-width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48;
}
.dice2 img {
    border: 2px;
    padding: 10px;
    max-height: 100%;
    max-width: 100%;
    height: 90px;
    width: 90px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48;
}
.message {
    display: flex;
    justify-content: center;
}
#roll {
    height: 100px;
    width: 200px;
    background-image: url(images/rollthedice.jpg);
    background-size: cover;
}
#winner {
    height: 100px;
    width: 100px;
    margin-left: 30%;
    margin-top: 10%;
}
.thumbnail{
	margin: .5em;
	box-shadow: 3px 3px 10px black;
	height: 8em;
}
.row{
	/*margin: 0 auto;*/
	padding-top: 2em;
	padding-bottom: 2em;
}
.thumbnail {
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

.thumbnail:hover {
	background-color: #d8e7ff;
}

.thumbnail:active {
  background-color: #a6afbf;
  box-shadow: -5px -5px 10px #666;
  transform: translateY(4px);
}
.controls {
  background: darkgray;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0;
}
.heroImg {
  /*padding-bottom: 5%;*/
  padding-top: 3%;
  /*padding-left: 18%;*/
  min-height: 200px;
  align-self: center !important;
}
